<div class="container-fluid">
    <app-page-title title="Entreprises" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2">
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="select2"
                                        placeholder="Rechercher dans la liste" #searchInput
                                        (input)="filterData(searchInput)" />
                                    <i class="bx bx-filter-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#formModal"
                                    class="btn btn-primary waves-effect" (click)="openModal(templateForm)"><i
                                        class="mdi mdi-plus"></i>
                                    Nouvelle entreprise</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border-bottom">
                    <div class="table-responsive">
                        <table
                            class="table align-middle table-nowrap table-hover dt-responsive nowrap w-100 table-check">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">NCC</th>
                                    <th scope="col">Raison Sociale</th>
                                    <th scope="col">Sigle</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(organisation of organisations ; track organisation.id) {
                                <tr>
                                    <td>{{ organisation.numcc }}</td>
                                    <td>
                                        {{ organisation.raisonSocial}}
                                    </td>
                                    <td>
                                        {{ organisation.sigle}}
                                    </td>
                                    <td>
                                        <img [hidden]="organisation.logo == null" src="{{ organisation.logo}}"
                                            width="30px" height="20px" alt="Logo" />
                                    </td>
                                    <td>
                                        <ul class="list-unstyled hstack gap-1 mb-0">
                                            <li tooltip="Modifier">
                                                <a href="javascript:void(0);"
                                                    (click)="openModal(templateForm, organisation)"
                                                    class="btn btn-sm btn-soft-info"><i
                                                        class="mdi mdi-pencil-outline"></i></a>
                                            </li>
                                            <li tooltip="Supprimer">
                                                <a href="javascript:void(0);"
                                                    (click)="openModal(templateDelete, organisation, true)"
                                                    data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"><i
                                                        class="mdi mdi-delete-outline"></i></a>
                                            </li>
                                        </ul>
                                        <!-- <div class="d-flex gap-1"> -->
                                        <!-- <button data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="btn btn-primary rounded-5" (click)="openModal(templateForm, organisation)"><i
                        class="fas fa-edit"></i>
                    </button>
                    <button data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="btn btn-danger rounded-5" (click)="openModal(templateDelete, organisation, true)"><i
                        class="fas fa-trash"></i>
                    </button> -->
                                        <!-- <button class="btn btn-warning rounded-5" tooltip="Lier des indicateurs"
                      (click)="openOrganisationIndicateurPage(organisation.id)"><i class="fas fa-link"></i>
                    </button>
                    <button class="btn btn-warning rounded-5" tooltip="Lier des indicateurs calculé"
                      (click)="openOrganisationTypeIndicateurPage(organisation.id)"><i class="fas fa-paperclip"></i>
                    </button> -->
                                        <!-- </div> -->
                                    </td>
                                </tr>
                                } @empty {
                                <p class="text-center">Aucun(e) donnee en base </p>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="table-footer">
                        <div class="dataTables_length">
                            <label>

                            </label>
                        </div>
                        <div class="pagination">
                            <div class="entries ms-2">
                                @if(apiResponse.current_page!=undefined){
                                Affichage de <b>{{(apiResponse.current_page * apiResponse.page_size)+1}}</b> à
                                <b>
                                    @if (apiResponse.current_page!=0) {
                                    {{((apiResponse.current_page+1) * apiResponse.page_size) }}
                                    } @else {
                                    {{apiResponse.total_items}}
                                    }
                                </b> sur
                                <b>{{apiResponse.total_items}}</b>
                                }@else {
                                Affichage de 0 à {{pageSize}} sur {{pageNum}}
                                }
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="pagination_section">
                                    <nav aria-label="Page navigation" class="pagination-style-1">
                                        <ul class="pagination mb-0 justify-content-end">
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);"
                                                    (click)="changePage('prev')">
                                                    <i class="fas fa-angle-left align-middle"></i>
                                                    <i class="ri-arrow-left-s-line align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="page-item active"><a class="page-link"
                                                    href="javascript:void(0);">
                                                    <b>Page @if(apiResponse.current_page!=undefined){ {{
                                                        (apiResponse.current_page + 1) +' / '+ apiResponse.total_pages}}
                                                        }@else {
                                                        {{pageNum}} / {{pageNum}}
                                                        }
                                                    </b></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:void(0);"
                                                    (click)="changePage('next')">
                                                    <i class="fas fa-angle-right align-middle"></i>
                                                    <i class="ri-arrow-right-s-line align-middle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal Form -->
<ng-template #templateForm>
    <div class="modal-header">
        <h5 class="modal-title pull-left">{{txtModalHeader}}</h5>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <form [formGroup]="organisationForm" enctype="multipart/form-data" (ngSubmit)="save()">
        <div class="modal-body">
            <div class="form-group mb-3 ">
                <label for="ncc" class="form-label">Numéro Compte Contribuable (NCC) <span
                        class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="hidden" formControlName="id">
                    <input type="text" class="form-control" id="ncc" placeholder="Entrez le ncc" name="ncc" required
                        formControlName="ncc"
                        [ngClass]="{'is-invalid':organisationForm.controls['ncc'].invalid && (organisationForm.controls['ncc'].dirty || organisationForm.controls['ncc'].touched), 'is-valid':organisationForm.controls['ncc'].valid}">
                </div>
                <div *ngIf="organisationForm.controls['ncc'].invalid && (organisationForm.controls['ncc'].dirty || organisationForm.controls['ncc'].touched)"
                    class="text-danger">

                    <div *ngIf="organisationForm.controls['ncc'].errors?.['required']">
                        Veuillez renseigner le ncc
                    </div>
                </div>
            </div>
            <div class="form-group mb-3 ">
                <label for="raisonSociale" class="form-label">Raison Sociale <span class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="text" class="form-control" id="raisonSociale" placeholder="Entrez la raison sociale"
                        name="raisonSociale" required formControlName="raisonSociale"
                        [ngClass]="{'is-invalid':organisationForm.controls['raisonSociale'].invalid && (organisationForm.controls['raisonSociale'].dirty || organisationForm.controls['raisonSociale'].touched), 'is-valid':organisationForm.controls['raisonSociale'].valid}">
                </div>
                <div *ngIf="organisationForm.controls['raisonSociale'].invalid && (organisationForm.controls['raisonSociale'].dirty || organisationForm.controls['raisonSociale'].touched)"
                    class="text-danger">

                    <div *ngIf="organisationForm.controls['raisonSociale'].errors?.['required']">
                        Veuillez renseigner la raison sociale
                    </div>
                </div>
            </div>
            <div class="form-group mb-3 ">
                <label for="sigle" class="form-label">Sigle</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="sigle" placeholder="Entrez le sigle" name="sigle"
                        formControlName="sigle">
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="indexLectureFichier" class="form-label">Index Lecture fichier</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplate>
                  <div [innerHTML]="'En cas de facturation par fichier excel, prière préciser l\'index de la feuile à partir de laquelle les données doivent être lues. Le 1er index étant 0'"></div>
                </ng-template>
                <div class="input-group">
                    <input type="number" min="0" class="form-control" id="indexLectureFichier" placeholder="Entrez l'index" name="indexLectureFichier"
                        formControlName="indexLectureFichier">
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="valeurTVA" class="form-label">Valeur TVA (%)</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplateTVA"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplateTVA>
                  <div [innerHTML]="'En cas de TVA existante, prière préciser le taux en %'"></div>
                </ng-template>
                <div class="input-group">
                    <input type="number" min="0" max="100" class="form-control" id="valeurTVA" placeholder="Entrez la valeur TVA" name="valeurTVA"
                        formControlName="valeurTVA">
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="valeurTDT" class="form-label">Valeur TDT (%)</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplateTDT"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplateTDT>
                  <div [innerHTML]="'En cas de Taxe Dévéloppement Touristique existante, prière préciser le taux en %'"></div>
                </ng-template>
                <div class="input-group">
                    <input type="number" min="0" max="100" class="form-control" id="valeurTDT" placeholder="Entrez la valeur TDT" name="valeurTDT"
                        formControlName="valeurTDT">
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="valeurTCN" class="form-label">Valeur TCN (montant)</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplateTCN"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplateTCN>
                  <div [innerHTML]="'En cas de Taxe Communale de Nuitée existante, prière préciser le montant'"></div>
                </ng-template>
                <div class="input-group">
                    <input type="text" mask="separator.2" class="form-control" id="valeurTCN" placeholder="Entrez la valeur TCN" name="valeurTCN"
                        formControlName="valeurTCN">
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="isOrderedByPaiementMethod" class="form-label">Affichage par mode de paiement ?</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate2"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplate2>
                  <div [innerHTML]="'En cas de facturation par fichier excel, prière préciser si les feuilles sont classées par mode de paiement ou par client. L\'affichage par défaut étant par client'"></div>
                </ng-template>
                <div class="input-group">
                    <ui-switch formControlName="isOrderedByPaiementMethod"  color="#556ee6"  [checked]="false" uncheckedLabel="NON" checkedLabel="OUI" size="small" class="me-1"></ui-switch>
                </div>

            </div>

            <div class="form-group mb-3 ">
                <label for="isPrixUnitaireDefined" class="form-label">Prix unitaire inexistant ?</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate3"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplate3>
                  <div [innerHTML]="'En cas de facturation par fichier excel, prière préciser si le prix unitaire des article est défini pour chaque feuille. L\'affichage par défaut étant que le prix unitaire est défini'"></div>
                </ng-template>
                <div class="input-group">
                    <ui-switch formControlName="isPrixUnitaireDefined"  color="#556ee6"  [checked]="false" uncheckedLabel="NON" checkedLabel="OUI" size="small" class="me-1"></ui-switch>
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="isFactureInitiale" class="form-label">Fichier excel initial ?</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate4"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplate4>
                  <div [innerHTML]="'S\'il s\'agit d\'un fichier excel consolidé veuillez ne pas cocher'"></div>
                </ng-template>
                <div class="input-group">
                    <ui-switch formControlName="isFactureInitiale"  color="#556ee6"  [checked]="false" uncheckedLabel="NON" checkedLabel="OUI" size="small" class="me-1"></ui-switch>
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="isFacturationMultiple" class="form-label">Multiple mode de Facturation ?</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate5"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplate5>
                  <div [innerHTML]="'Cocher si l\'entreprise doit pouvoir charger des factures consolidées et des factures détaillées (excel)'"></div>
                </ng-template>
                <div class="input-group">
                    <ui-switch formControlName="isFacturationMultiple"  color="#556ee6"  [checked]="false" uncheckedLabel="NON" checkedLabel="OUI" size="small" class="me-1"></ui-switch>
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="isAvoirFirstVersion" class="form-label">Chargement fichier dans avoir ?</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate6"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplate6>
                  <div [innerHTML]="'Cocher si l\'entreprise ne doit pas charger de fichier durant un avoir'"></div>
                </ng-template>
                <div class="input-group">
                    <ui-switch formControlName="isAvoirFirstVersion"  color="#556ee6"  [checked]="false" uncheckedLabel="NON" checkedLabel="OUI" size="small" class="me-1"></ui-switch>
                </div>

            </div>
            <div class="form-group mb-3 ">
                <label for="isBkWorkflow" class="form-label">Workflow BK ?</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate6"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button>
                    <!-- triggers="mouseenter:mouseleave" -->
                <ng-template #popTemplate6>
                  <div [innerHTML]="'Cocher si l\'entreprise utilise le workflow BK'"></div>
                </ng-template>
                <div class="input-group">
                    <ui-switch formControlName="isBkWorkflow"  color="#556ee6"  [checked]="false" uncheckedLabel="NON" checkedLabel="OUI" size="small" class="me-1"></ui-switch>
                </div>

            </div>
            <!-- <div class="form-group mb-3 ">
                <label for="isTDTBaseTVA" class="form-label">TDT est base taxable de TVA ?</label>
                <button type="button" class="btn btn-soft-info btn-sm rounded-5 ms-3" [popover]="popTemplate5"
                  popoverTitle="Aide pour cette rubrique" 
                  data-bs-toggle="tooltip" tooltip="Cliquer pour voir/masquer la description"><i
                    class="fa fa-info-circle"></i></button> -->
                    <!-- triggers="mouseenter:mouseleave" -->
                <!-- <ng-template #popTemplate5>
                  <div [innerHTML]="'Est-ce que la TDT fait partie du calcul de la TVA'"></div>
                </ng-template>
                <div class="input-group">
                    <ui-switch formControlName="isTDTBaseTVA"  color="#556ee6"  [checked]="false" uncheckedLabel="NON" checkedLabel="OUI" size="small" class="me-1"></ui-switch>
                </div>

            </div> -->
            <div class="form-group mb-3 ">
                <label for="image" class="form-label">Logo</label>
                <div class="input-group">
                    <input type="file" accept="image/*" (change)="showPreview($event)" class="form-control" id="image"
                        placeholder="Ajouter le logo" name="logo">
                </div>
                <!-- Image Preview -->
                <div class="imagePreview text-center  mt-3" [hidden]="imageURL==''">
                    <img [src]="imageURL" class="img-fluid img-thumbnail" width="150px" height="80px" alt="Logo">
                </div>
            </div>
        </div>
        <!-- {{organisationForm.value | json}} -->
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)=" modalRef?.hide()">Annuler</button>
                <button type="submit" [disabled]="!organisationForm.valid && !loadingBtn" class="btn btn-success">
                    <i class="fa" [ngClass]="{'fa-spin fa-spinner': loadingBtn, 'fa-check': !loadingBtn}"></i>
                    {{textButton}}
                </button>
            </div>
        </div>
    </form>
</ng-template>
<!--End Modal Form-->

<!--Modal Delete-->
<ng-template #templateDelete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{txtModalHeader}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <p class="fs-5">Voulez-vous supprimer l'organisation
                {{organisation.code}}<br>({{organisation.raisonSocial}})?
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)=" modalRef?.hide()">Annuler</button>
            <button class="btn btn-danger" (click)="delete()">

                <i class="fa" [ngClass]="{'fa-spin fa-spinner': loadingBtn, 'fa-check': !loadingBtn}"></i>
                {{textButton}}
            </button>
        </div>
    </div>
</ng-template>